*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header
{
    position: relative;
    background-image: url(https://meta.vn/Data/image/2021/09/21/anh-meo-con-2.jpg);
    display: flex;
    width: 100%;
    height: 340px;
    background-size: cover;

}
.header .icon
{
    width: 60px;
    height: 100px;
    margin: 10px;
    float: left;
    overflow: hidden;
}
.link
{
margin-left: 65%;
    
}
.header .header-name 
{
    margin-top: 30px;
    color: #fff;
    font-size: 25px;

}
.header a {
    text-decoration: none;
}
.header ul li
{
    display: inline-block;
    padding: 30px;
    padding-top: 0;
    margin-top: 20px;
}

.header ul li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.introduce
{
    color: aqua;
    font-weight: 500;
    font-size: 80px;
    text-align: center;
    position: absolute;
    margin-top: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.thongtinchung
{
    text-align: center;
    background-color: #ccc;
    padding: 20px 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: cadetblue;
}
.information
{
    background-image: url(https://mondaycareer.com/wp-content/uploads/2020/11/background-%C4%91%E1%BA%B9p-2-1024x585.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
}
.avatar
{
    width: 350px;
    margin-left: 400px;
    margin-top: 70px;
    border-radius: 20px;

}
.infor
{
    float: right;
    margin-right: 100px;
    margin-top: 150px;
}
.infor li 
{
    list-style: none;
    margin-bottom: 40px;
}
.infor li p
{
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.footer h2
{
    text-align: center;
    background-color: #ccc;
    padding: 20px 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: cadetblue;
}
.footer-infor
{
    
    height: 700px;
    width: 100%;
}
.footer-infor1
{
    height: 700px;
}

.bts
{
    margin: 80px;
}
.ua-thich li
{
    margin-left: 100px;
    font-size: 25px;
    list-style: none;
    margin-bottom: 10px;
}
.footerr{
    display: flex;
    background-image: url(https://cellphones.com.vn/sforum/wp-content/uploads/2021/03/abstract-gradient-wallpaper-desktop-mattbirchler-idownloadblog-purple-1536x864-1.jpg);
    background-size: cover;
    width: 100%;
}
.thanks
{
    height: 30px;
    width: 100%;
}
.thanks p
{
    text-align: center;
    font-size: 20px;
}